.container{
  height: 200vh;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.iphone{
  display: inline-block;
  margin-top: 150px;
  position: relative;
}
.shape{
  background-image: url(../images/shape.jpg);
  width: 128px;
  height: 128px;
  position: absolute;
  top: 75px;
  right: 161px;
  background-position: 0 0;
  mask-image: url(../images/apple-mask.png);
}
